<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /address-book/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /address-book/index.html [L]
</IfModule>